<div class="container">
  <div class="row">
    <p class="label">Cookies</p>
    <button class="action" (click)="toggleCookiesAccepted()">
      {{ coookiesAccepted() ? "Reject" : "Accept" }}
    </button>
  </div>
  <div class="row" *ngIf="getUserLevel() > 0">
    <p class="label">Export chapter</p>
    <button class="action" (click)="showSelectChapter = true">Export</button>
  </div>
  <div class="row" *ngIf="getUserLevel() > 0">
    <p class="label">Import chapter</p>
    <button class="action" (click)="importChapter()">Import</button>
  </div>
  <div class="row">
    <p class="label">
      {{ "Remember Page: " + (getRememberPage() ? "ON" : "OFF") }}
    </p>
    <button class="action" (click)="toggleRememberPage()">
      {{ getRememberPage() ? "Turn OFF" : "Turn ON" }}
    </button>
  </div>
  <div class="row">
    <p class="label">Clear Local Storage</p>
    <button class="red action" (click)="clearStorage()">Clear</button>
  </div>
</div>

<app-select-chapter
  *ngIf="showSelectChapter"
  (chapterEmitter)="exportChapter($event)"
></app-select-chapter>
