.heading
    text-align: center
    color: var(--text-color)
    .pageInput
        background-color: #7a7a7a44
        color: var(--text-color)
        border-radius: 10%
        border: none
        width: 30px
        margin: 0
        font-size: 15px
        text-align: center
        transition: 0.2s
        box-shadow: none
        margin-left: 3px
        &:focus
            outline: none
            width: 50px
    input[type=number]
        -moz-appearance: textfield

.sticky
    position: fixed
    top: 0
    width: 100%
.content
    margin-top: 100px
.header
    width: 100%
    margin-top: 20px
    display: flex
    button
        transition: 0.3s
        cursor: pointer
        border: none
        font-size: 20px
        background-color: var(--primary-color)
        width: 100px
        height: 40px
        border-radius: 5px
        color: var(--inverted-text-color)
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)

        &:hover
            background-color: var(--secondary-color)
            transform: scale(1.1)
    .backButton
        margin-left: 20px
        margin-right: auto

    .exportButton
        margin-left: auto
        margin-right: 20px


.tocButton
  margin-left: auto
  margin-right: 20px
  cursor: pointer
  .bar
    width: 40px
    height: 4px
    background-color: var(--text-color)
    margin: 6px 0
    transition: 0.4s
    border-radius: 5px
