.heading
    text-align: center
.sticky
    position: fixed
    top: 0
    width: 100%
.content
    margin-top: 100px
.header
    width: 100%
    margin-top: 20px
    display: flex
    button
        transition: 0.3s
        cursor: pointer
        border: none
        font-size: 20px
        background-color: #2e3399
        width: 100px
        height: 40px
        border-radius: 5px
        color: white
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)

        &:hover
            background-color: #00b6b0
            transform: scale(1.1)
    .backButton
        margin-left: 20px
        margin-right: auto

    .exportButton
        margin-left: auto
        margin-right: 20px
