<div class="container">
  <div class="row">
    <p class="label">
      Version: <i>{{ getVersion() }}</i>
    </p>
    <button class="action" (click)="whatsNew()">Changes</button>
  </div>
  <div class="row">
    <p class="label">Need Help?</p>
    <button class="action" (click)="getHelp()">Get Help</button>
  </div>
  <div class="row">
    <p class="label">Report an Issue</p>
    <a
      class="actionA"
      href="mailto:Philipp.Bonin@intersystems.com?subject=WOOP%20Issue"
    >
      Report
    </a>
  </div>
  <div class="row">
    <p class="label">Impressum</p>
    <button class="action" (click)="goToImpressum()">View</button>
  </div>
  <div class="row">
    <p class="label">View on GitHub</p>
    <a
      class="actionA"
      href="https://github.com/phil1436/InterSystemsWOOP"
      target="_blank"
    >
      View
    </a>
  </div>
</div>
