<div class="background" (click)="close()"></div>
<div class="container">
  <h1>{{ updateChapter == undefined ? "" : updateChapter.Title }}</h1>
  <p class="wrong" *ngIf="isWrong">{{ wrongText }}</p>
  <button class="closeButton" (click)="close()">X</button>
  <p style="top: 60px">Language</p>
  <input
    type="text"
    class="userNameInput"
    name="language"
    [(ngModel)]="language"
    (keydown.enter)="submit()"
    style="top: 110px"
    placeholder="Language"
  />
  <p style="top: 130px">Password</p>
  <input
    type="text"
    class="userNameInput"
    name="password"
    [(ngModel)]="password"
    (keydown.enter)="submit()"
    style="top: 180px"
    placeholder="Password"
  />
  <p style="top: 200px">Private</p>
  <input
    type="checkbox"
    class="userNameInput"
    name="private"
    [(ngModel)]="isPrivate"
    style="top: 250px; cursor: pointer"
  />
  <p style="top: 270px">Description</p>
  <textarea
    name="description"
    style="top: 390px; resize: none"
    [(ngModel)]="description"
    placeholder="Description"
  ></textarea>

  <button class="submitButton" (click)="submit()" (keydown.enter)="submit()">
    Save
  </button>
</div>
