<div *ngIf="showSettings" class="background" (click)="toggleSettings()"></div>

<header>
  <button>
    <img
      class="logo"
      src="assets/imgs/InterSystemsWOOPLogo.png"
      alt="logo"
      (click)="goBack()"
    />
  </button>
  <img
    src="https://cdn-icons-png.flaticon.com/512/2956/2956788.png"
    class="settingsButton"
    (click)="toggleSettings()"
    alt="Settings"
  />
  <p class="userLabel" *ngIf="getUserLevel() > 0">
    {{ getUserLevel() == 1 ? "User " : "Admin " }}
    <i>{{ getUserName() }}</i>
  </p>
</header>
<app-settings *ngIf="showSettings"></app-settings>
