header
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1)
    background-color: var(--header-color)
    z-index: 1000
    button
        border: none
        cursor: pointer
        background: none
    .userLabel
        position: absolute
        right: 100px
        top: 10px
        font-size: 20px
        opacity: 0.3
        color: var(--text-color)
        cursor: pointer
        transition: 0.3s
        .userLabelExtended
            opacity: 0
        &:hover
            opacity: 1
            .userLabelExtended
                opacity: 1
    .settingsButton
        position: absolute
        right: 30px
        height: 40px
        width: 40px
        cursor: pointer
        top: 20px
        opacity: 0.3
        transition: 0.3s
        &:hover
            opacity: 1
            animation-name: rotate
            animation-duration: 1200ms
            animation-fill-mode: forwards
    .burgerMenu
        position: absolute
        right: 30px
        height: 40px
        width: 40px
        cursor: pointer
        top: 25px
        .burgerBar
            position: absolute
            height: 5px
            background-color: var(--text-color)
            border-radius: 5px
            right: 0
            width: 100%
            &:nth-child(1)
                top: 0px
            &:nth-child(2)
                top: 10px
            &:nth-child(3)
                top: 20px

.background
    position: fixed
    width: 100%
    height: 100%
    top: 0
    //backdrop-filter: blur(3px)
.sticky
    position: fixed
    top: 0
    width: 100%
.logo
    height: 40px
    margin-top: 16px
    margin-bottom: 16px
    margin-left: 50px
    transition: 0.3s
    &:hover
        scale: 1.2

@media screen and (max-width: 600px)
    .logo
        &:hover
            scale: 1
    header
        .settingsButton
            &:hover
                animation: none
        .userLabel
            top: 15px
            font-size: 15px
            .userLabelExtended
                display: none
            &:hover
                opacity: 0.3

@keyframes rotate
    0%
        transform: rotateZ(0deg)
    100%
        transform: rotateZ(360deg)
