<div class="background" (click)="close()"></div>
<div class="container">
  <h1>Log in</h1>
  <p class="wrong" *ngIf="isWrong">{{ wrongMessage }}</p>
  <button class="closeButton" (click)="close()">X</button>
  <input
    type="text"
    class="userNameInput"
    name="userName"
    [(ngModel)]="entereduserName"
    (keydown.enter)="submit()"
    placeholder="Username"
  />
  <input
    [type]="type"
    class="passwordInput"
    name="password"
    [(ngModel)]="enteredPassword"
    (keydown.enter)="submit()"
    placeholder="Password"
  />
  <div class="rememberMe">
    <input type="checkbox" [(ngModel)]="rememberMe" />
    <p class="label" (click)="rememberMe = !rememberMe">Remember me</p>
  </div>
  <div class="stayLoggedIn">
    <input type="checkbox" [(ngModel)]="stayLoggedIn" />
    <p class="label" (click)="stayLoggedIn = !stayLoggedIn">Stay logged in</p>
  </div>
  <button class="submitButton" (click)="submit()" (keydown.enter)="submit()">
    Submit
  </button>
  <button class="viewButton" (click)="viewPassword()">
    {{ type == "password" ? "View" : "Hide" }}
  </button>
</div>
