.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .chapterContainer
        .metaData
            display: none
            position: fixed
            right: 20px
            bottom: 20px
            opacity: 0.5

        .row
            display: flex
            flex-direction: row
            .chapterButton
                background: #2e3399
                color: white
                border: none
                border-radius: 8px
                padding: 5px 10px
                margin: 0 5px
                cursor: pointer
                height: 50px
                width: 500px
                font-size: 20px
                margin-bottom: 20px
                transition: 0.3s
            &:hover
                .chapterButton
                    background: #00b6b0
                    transform: scale(1.1)
                .metaData
                    display: block
            .editButton
                height: 20px
                margin-right: 20px
                img
                    height: 20px
                    width: 20px
                    margin: 0 5px
                    cursor: pointer

                button
                    background: none
                    border: none
                    margin: 10px 5px
                    cursor: pointer
                    &:hover
                        transform: scale(1.1)
    .newButton
        button
            background: #2e3399
            color: white
            border: none
            border-radius: 8px
            padding: 5px 10px
            margin: 0 5px
            cursor: pointer
            height: 50px
            width: 100px
            font-size: 20px
            margin-bottom: 20px
            transition: 0.3s
            &:hover
                background: #00b6b0
                transform: scale(1.1)

@media screen and (max-width: 800px)
    .container
        .chapterContainer

            .row
                .chapterButton
                    width: 300px
                &:hover
                    .chapterButton
                        background: #2e3399
                        transform: scale(1)
                    .metaData
                        display: none
                .editButton
                    button
                        &:hover
                            transform: scale(1)
        .newButton
            button

                &:hover
                    background: #2e3399
                    transform: scale(1)
