<div class="container">
  <div *ngFor="let chapter of chapters">
    <div class="chapterContainer">
      <div
        [class]="
          'row' +
          (getuserLevel() == 2 ||
          (getuserLevel() == 1 && getuserName() == chapter.Author)
            ? ' edit'
            : '')
        "
        *ngIf="
          !chapter.IsPrivate ||
          getuserLevel() == 2 ||
          (getuserLevel() == 1 && getuserName() == chapter.Author)
        "
      >
        <div
          class="editButton"
          *ngIf="
            getuserLevel() == 2 ||
            (getuserLevel() == 1 && getuserName() == chapter.Author)
          "
        >
          <button (click)="setChapterToDelete(chapter)">
            <img
              [src]="
                'assets/imgs/' +
                (getDarkModeEnabled() ? 'darkmode' : 'lightmode') +
                '/delete.png'
              "
              alt="Delete"
            />
          </button>
          <button (click)="onChapterEditSelected(chapter.Title)">
            <img
              [src]="
                'assets/imgs/' +
                (getDarkModeEnabled() ? 'darkmode' : 'lightmode') +
                '/edit.png'
              "
              alt="Edit"
            />
          </button>
        </div>
        <button
          class="chapterButton"
          (click)="onChapterSelected(chapter.Title)"
        >
          <i *ngIf="chapter.IsPrivate">{{ chapter.Title }}</i>
          <div *ngIf="!chapter.IsPrivate">{{ chapter.Title }}</div>
        </button>
        <app-chapter-meta-data
          [chapter]="chapter"
          class="metaData"
        ></app-chapter-meta-data>
      </div>
    </div>
  </div>
  <i *ngIf="chapters.length == 0" class="noChapters">No Chapters</i>
  <div class="newButton" *ngIf="getuserLevel() > 0">
    <button (click)="toggleNewChapter()">+</button>
  </div>
</div>
<app-chapter-new
  *ngIf="newChapter"
  (closeEmitter)="toggleNewChapter()"
></app-chapter-new>
<app-are-you-sure
  *ngIf="chapterToDelete != undefined"
  (sureEmitter)="areYouSure($event)"
></app-are-you-sure>
