<div class="background" (click)="close()"></div>
<div class="container">
  <h1>Change Password</h1>
  <p class="wrong" *ngIf="isWrong">{{ wrongMessage }}</p>
  <button class="closeButton" (click)="close()">X</button>
  <input
    type="password"
    class="userNameInput"
    name="oldPassword"
    [(ngModel)]="oldPassword"
    (keydown.enter)="submit()"
    placeholder="Old Password"
  />
  <input
    type="password"
    class="passwordInput"
    name="password"
    [(ngModel)]="enteredPassword"
    (keydown.enter)="submit()"
    placeholder="New Password"
  />
  <input
    type="password"
    class="confirmPasswordInput"
    name="confirmPassword"
    [(ngModel)]="enteredConfirmPassword"
    (keydown.enter)="submit()"
    placeholder="Confirm New Password"
  />
  <button class="submitButton" (click)="submit()" (keydown.enter)="submit()">
    Submit
  </button>
</div>
