<div class="background" (click)="close()"></div>
<div class="container">
  <h1>{{ selectImage ? "Select Image" : "Add Image" }}</h1>
  <button class="closeButton" (click)="close()">X</button>
  <div class="buttonContainer" *ngIf="!selectImage">
    <button class="submitButton" style="right: 30px" (click)="uploadImage()">
      Upload
    </button>
    <button class="submitButton" style="left: 30px" (click)="select()">
      Select existing
    </button>
  </div>
  <div class="buttonContainer" *ngIf="selectImage">
    <select name="SelectImage" [(ngModel)]="selectedImage">
      <option *ngFor="let image of imageNames" [value]="image">
        {{ image }}
      </option>
    </select>
    <button class="submitButton" style="top: 40px" (click)="selectTheImage()">
      Ok
    </button>
  </div>
</div>
