.searchBar {
  width: 300px;
  background: var(--search-bar-bg);
  border: none;
  border-radius: 10px;
  height: 40px;
  align-items: center;
  display: flex;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  animation: slideIn 0.5s;
  input {
    width: 90%;
    border: none;
    height: 60%;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
    background: var(--search-bar-bg);
    color: var(--text-color);
    padding-left: 20px;
    &:focus {
      outline: none;
    }
  }
  .closeButton {
    opacity: 0.5;
    width: 10%;
    height: 70%;
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 5px;
    &:hover {
      opacity: 1;
      background: var(--secondary-color);
      transform: scale(1.1);
    }
  }
}
.noMatches {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: var(--text-color);
}
@media screen and (max-width: 600px) {
  .searchBar {
    width: 100%;
    border-radius: 0px;
    animation: slideInFromTop 0.2s;

    input {
      font-size: 16px;
      padding-left: 5px;
      border-radius: 5px;
      margin: 0 auto;
    }
    .closeButton {
      opacity: 1;
      &:hover {
        opacity: 1;
        background: var(--primary-color);
        transform: scale(1);
      }
    }
  }
}
.slideOut {
  animation: slideOutFromTop 0.51s;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOutFromTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
};
