<app-header class="sticky" [enableSearchBar]="false"></app-header>

<button (click)="goBack()" class="backButton">Back</button>
<div class="container">
  <h1>
    InterSystems Workshop Organizer and Optimizer Program
    <i>CHANGELOG</i>
  </h1>
  <h2>Current version</h2>
  <p>
    Version: <i>{{ getVersion() }}</i>
  </p>
  <p>
    Release date: <i>{{ getRealeseDate() }}</i>
  </p>
  <h2>Release notes</h2>
  <p *ngFor="let n of getReleaseNotes()">{{"- " + n}}</p>

  <div style="font-size: 10px">
    <br />
    <br />
    <p>
      by
      <a href="https://github.com/phil1436" target="_blank"> Philipp B. </a>
    </p>
    <p>
      <i>
        This application is not supported by InterSystems Corporation. Please be
        notified that you use it at your own responsibility.
      </i>
    </p>
  </div>
</div>
<!-- <div class="container">
  <button (click)="goBack()" class="backButton">Back</button>
  <h1>
    InterSystems Workshop Organizer and Optimizer Program
    <i>CHANGELOG</i>
  </h1>
  <div *ngFor="let version of getVersionManager().versions">
    <h2>
      {{ "v" + version.version }}
    </h2>
    <p>
      <i>{{ version.date }}</i>
    </p>
    <ul>
      <li *ngFor="let change of version.changes">{{ change }}</li>
    </ul>
  </div>
  <div style="font-size: 10px">
    <br />
    <br />
    <p>
      by
      <a href="https://github.com/phil1436" target="_blank"> Philipp B. </a>
    </p>
    <p>
      <i>
        This application is not supported by InterSystems Corporation. Please be
        notified that you use it at your own responsibility.
      </i>
    </p>
  </div>
</div> -->
