<div class="editButtons">
  <button (click)="deletePage()">Edit meta data</button>
  <button (click)="toggleAutoSave()">
    {{ "Autosave " + (getAutoSave() ? "ON" : "OFF") }}
  </button>
</div>
<div *ngIf="!preview">
  <div class="heading">
    <h1>{{ chapter.title + " EDIT" }}</h1>
    <p>
      <i>{{
        chapter.pages.length > 0
          ? "Page " + (currentPage + 1) + "/" + chapter.pages.length
          : "No pages"
      }}</i>
    </p>
  </div>
  <app-edit-page
    *ngFor="let p of chapter.pages; let i = index"
    [page]="p"
    [show]="i == currentPage"
    [showTip]="true"
    [showResult]="true"
  ></app-edit-page>
  <app-page-nav-bar
    [showPrevButton]="currentPage != 0"
    [showNextButton]="currentPage != chapter.pages.length - 1"
    [showResultButton]="false"
    [showTipButton]="false"
    (showNextEmitter)="showNextPage()"
    (showPrevEmitter)="showPrevPage()"
  ></app-page-nav-bar>
  <div class="editButtons">
    <button (click)="deletePage()">Remove Page</button>
    <button (click)="addPage()">Add Page</button>
    <button (click)="save()">{{ (changes ? "*" : "") + "Save" }}</button>
  </div>
</div>
<app-chapter
  [chapter]="chapter"
  [currentPage]="currentPage"
  *ngIf="preview"
></app-chapter>
<div class="editButtons">
  <button (click)="togglePreview()">{{ preview ? "Edit" : "Preview" }}</button>
</div>
