<app-header class="sticky"></app-header>
<div *ngIf="contentVisible" class="content">
  <div class="header">
    <button *ngIf="!preview" (click)="goBack()" class="backButton">Back</button>
  </div>
  <div *ngIf="!preview">
    <div class="heading">
      <h1>{{ chapter.Title + " EDIT" }}</h1>
      <p>
        <i>{{
          chapter.Pages.length > 0
            ? "Page " + (currentPage + 1) + "/" + chapter.Pages.length
            : "No Pages"
        }}</i>
      </p>
    </div>
    <app-edit-page
      *ngFor="let p of chapter.Pages; let i = index"
      [page]="p"
      [show]="i == currentPage"
      [showhint]="true"
      [showResult]="true"
      (changeEmitter)="onChange()"
    ></app-edit-page>
    <app-page-nav-bar
      [showPrevButton]="currentPage != 0"
      [showNextButton]="currentPage != chapter.Pages.length - 1"
      [showResultButton]="false"
      [showhintButton]="false"
      (showNextEmitter)="showNextPage()"
      (showPrevEmitter)="showPrevPage()"
    ></app-page-nav-bar>
    <div class="editButtons">
      <button (click)="setSureDelete(true)" *ngIf="chapter.Pages.length > 0">
        Remove Page
      </button>
      <button (click)="addPage()">Add Page</button>
    </div>
    <div class="editButtons">
      <button (click)="toggleEditMetaData()">Edit meta data</button>
      <button (click)="toggleAutoSave()">
        {{ "Autosave " + (getAutoSave() ? "ON" : "OFF") }}
      </button>
    </div>
  </div>
  <app-chapter
    [chapter]="chapter"
    [currentPage]="currentPage"
    *ngIf="preview"
  ></app-chapter>
  <div class="editButtons">
    <button (click)="togglePreview()" *ngIf="chapter.Pages.length > 0">
      {{ preview ? "Edit" : "Preview" }}
    </button>
    <button (click)="save()">{{ (changes ? "*" : "") + "Save" }}</button>
  </div>

  <app-chapter-new
    [updateChapter]="chapter"
    [name]="chapter.Title"
    [description]="chapter.Description"
    [language]="chapter.Language"
    [password]="chapter.Password"
    [isPrivate]="chapter.IsPrivate"
    *ngIf="editMetaData"
    (closeEmitter)="toggleEditMetaData()"
  ></app-chapter-new>

  <app-are-you-sure
    *ngIf="sureDelete"
    (sureEmitter)="deletePage($event)"
  ></app-are-you-sure>
</div>
