<app-header class="sticky" (goBackEmitter)="goBack()"></app-header>
<div class="container">
  <app-chapter
    [chapter]="currentChapter"
    *ngIf="chapterSelected && currentChapter.verified"
  ></app-chapter>
  <app-chapter-selection
    [chapters]="chapters"
    (chapterSelected)="selectChapter($event)"
    *ngIf="!chapterSelected"
  >
  </app-chapter-selection>
</div>
<app-password-query
  *ngIf="chapterSelected && !currentChapter.verified"
  [password]="currentChapter.config.password"
  (passwordEntered)="verifyChapter($event)"
></app-password-query>
<p class="userLevelLabel">
  {{ getUserLevel() == 0 ? "" : getUserLevel() == 1 ? "User " : "Admin "
  }}<i>{{ getUserLevel() == 0 ? "" : getUserName() }}</i>
</p>
<app-chapter-new></app-chapter-new>
