<div class="header">
  <button
    [class]="selected == 'storage' ? 'selected' : ''"
    (click)="setSelected('storage')"
  >
    Storage
  </button>
  <button
    [class]="selected == 'server' ? 'selected' : ''"
    (click)="setSelected('server')"
  >
    Server
  </button>
  <button
    [class]="selected == 'user' ? 'selected' : ''"
    (click)="setSelected('user')"
  >
    User
  </button>
  <button
    [class]="selected == 'contact' ? 'selected' : ''"
    (click)="setSelected('contact')"
  >
    Contact
  </button>
</div>
