<app-header class="sticky"></app-header>

<div class="settingsHeader">
  <button (click)="goBack()" class="backButton">Back</button>

  <app-settings-header
    [selected]="selected"
    (selectedChange)="setSelected($event)"
  ></app-settings-header>
</div>
<div class="settings" *ngIf="selected != ''">
  <app-storage-settings
    *ngIf="selected.toLowerCase() == 'storage'"
  ></app-storage-settings>
  <app-server-settings
    *ngIf="selected.toLowerCase() == 'server'"
  ></app-server-settings>
  <app-user-settings
    *ngIf="selected.toLowerCase() == 'user' && getUserLevel() > 0"
  ></app-user-settings>
  <app-contact-settings
    *ngIf="selected.toLowerCase() == 'contact'"
  ></app-contact-settings>
</div>
