.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.settingsHeader {
  margin-top: 100px;
}
.settings {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.backButton {
  transition: 0.3s;
  cursor: pointer;
  border: none;
  font-size: 20px;
  background-color: var(--primary-color);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: var(--inverted-text-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-right: auto;
  &:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
  }
}
@media screen and (max-width: 800px) {
  .backButton {
    display: none;
  }
};
