
#snippet-container
  display: flex
  justify-content: center
  align-items: center
  background-color: red
  width: max-content

#window
  display: flex
  flex-direction: column
  border-radius: 10px
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
  overflow: hidden
  width: max-content
  min-width: 200px
  padding: 18px
  background-color: var(--header-color)
  border-radius: 10px
  margin-left: 20px
  max-width: 80%

#navbar
  overflow: hidden
  text-align: center

#window-controls
  display: flex
  float: left
  margin-top: 2px

#window-title
  margin: 0 80px

.dot
  width: 15px
  height: 15px
  border-radius: 50%
  margin-right: 10px
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3)
  &:hover
    scale: 1.2

.red
  background-color: #ff5f5a

.yellow
  background-color: #ffbe2e

.green
  background-color: #2aca44

.test
  background: var(--header-color)
  text-shadow: none !important

.code
  .token
    color: red !important
    background: red !important

code[class*="language-"],pre[class*="language-"]
    text-shadow: none
    color: var(--text-color)

pre[class*="language-"]
    padding: 0
    margin: 0 0
    overflow: auto

@media screen and (max-width: 800px)
  #window
    margin-left: 0px
    max-width: 90%
  .dot
    &:hover
      scale: 1.0
