<div class="contentBox">
  <!-- <markdown
    [data]="data"
    [line]="line"
    [style.font-size]="getFontSize() + 'px'"
    lineHighlight
  ></markdown> -->
  <!-- <ng-template
    appMarkdown
    [style.font-size]="getFontSize() + 'px'"
  ></ng-template> -->
  <div *ngFor="let block of blocks" [style.font-size]="getFontSize() + 'px'">
    <!-- <div *ngIf="block.type == 'textblock'" [innerHTML]="block.code"></div> -->
    <markdown *ngIf="block.type == 'textblock'" [data]="block.code"></markdown>
    <app-code-window
      *ngIf="block.type == 'codeblock'"
      [code]="block.code"
      [language]="block.language"
      [title]="block.title"
      [copyable]="
        block.settings.includes('copy') || block.settings.includes('c')
      "
    ></app-code-window>
    <img
      *ngIf="block.type == 'image'"
      [src]="block.code"
      [alt]="block.title"
      [style]="block.language"
    />
    <button *ngIf="block.type == 'file'" class="downloadButton" (click)="downloadFile(block.code)">
      {{ block.title }}
    </button>
  </div>
</div>
