<div class="background" (click)="close()"></div>
<div class="container">
  <h1>{{ updateChapter == undefined ? "Create new Chapter" : " Chapter" }}</h1>
  <p class="wrong" *ngIf="isWrong">{{ wrongText }}</p>
  <button class="closeButton" (click)="close()">X</button>
  <p style="top: 60px">Name</p>
  <input
    type="text"
    class="userNameInput"
    name="title"
    [(ngModel)]="name"
    (keydown.enter)="submit()"
    style="top: 110px"
    *ngIf="updateChapter == undefined"
    placeholder="Chapter name"
  />
  <input
    type="text"
    class="userNameInput"
    name="title"
    [(ngModel)]="name"
    (keydown.enter)="submit()"
    style="top: 110px"
    *ngIf="updateChapter != undefined"
    readonly
  />
  <p style="top: 130px">Language</p>
  <input
    type="text"
    class="userNameInput"
    name="language"
    [(ngModel)]="language"
    (keydown.enter)="submit()"
    style="top: 180px"
    placeholder="Language"
  />
  <p style="top: 200px">Password</p>
  <input
    type="text"
    class="userNameInput"
    name="password"
    [(ngModel)]="password"
    (keydown.enter)="submit()"
    style="top: 250px"
    placeholder="Password"
  />
  <p style="top: 270px">Private</p>
  <input
    type="checkbox"
    class="userNameInput"
    name="private"
    [(ngModel)]="isPrivate"
    style="top: 320px; cursor: pointer"
  />
  <p style="top: 340px">Description</p>
  <textarea
    name="description"
    style="top: 460px; resize: none"
    [(ngModel)]="description"
    placeholder="Description"
  ></textarea>

  <button class="submitButton" (click)="submit()" (keydown.enter)="submit()">
    {{ updateChapter == undefined ? "Create" : " Ok" }}
  </button>
</div>
