<div class="loadingscrren">
  <div class="background"></div>
  <div class="lds-default">
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
    <div [style.background]="color"></div>
  </div>
</div>
