<div class="background" (click)="close()"></div>
<div class="box">
  <div class="content">
    <button class="closeButton" (click)="close()">X</button>
    <h2>Table of Content</h2>
    <ul>
      <div *ngFor="let heading of headings; index as i">
        <li
          [style.font-size.px]="21 - heading.level * 2"
          [style.margin-left.px]="(heading.level - 1) * 10"
        >
          <a
            (click)="selectPage(heading.page)"
            [class]="checkIfHeadingIsCurrent(i) ? 'current' : ''"
            >{{ heading.text }}
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>
