<img
  *ngIf="showNextButton"
  class="nextButton navButton"
  src="https://icons.veryicon.com/png/o/miscellaneous/iconpack-223/next-page-8.png"
  alt="next"
  (click)="showNext()"
/>
<img
  *ngIf="showPrevButton"
  class="prevButton navButton"
  src="https://icons.veryicon.com/png/o/miscellaneous/iconpack-223/next-page-8.png"
  alt="previous"
  (click)="showPrev()"
/>

<div class="showButtons">
  <button *ngIf="showTipButton" (click)="showTip()">Show tip</button>
  <button *ngIf="showResultButton" (click)="showResult()">Show result</button>
</div>
