<div class="editor">
  <button (click)="emit('bold')"><b>Bold</b></button>
  <button (click)="emit('italic')"><i>Italic</i></button>
  <button (click)="emit('code')">Code</button>
  <!-- <button (click)="addImage()" [style.width.px]="150">Add Image</button> -->
  <button (click)="openAddImage()">Image</button>
  <button (click)="openTranslateSpec()" [style.width.px]="100">Translate</button>
  <button (click)="help()">Help</button>
</div>

<app-add-image
  *ngIf="addImageOpened"
  (imageEmitter)="addImage($event)"
></app-add-image>
<app-translate-spec
  *ngIf="translateSpecOpen"
  (eventEmitter)="translateSpec($event)"
></app-translate-spec>
