/* You can add global styles to this file, and also import other style files */

body
    margin: 0
    background-color: #ffffff
    //background-color: #010409
    font-family: verdana, sans-serif

[data-theme="light"]
    --text-color: black
    --bg-color: #ffffff

[data-theme="dark"]
    --text-color: white
    --bg-color: #1a1a2b
