/* You can add global styles to this file, and also import other style files */

body
    margin: 0
    background-color: var(--bg-color)
    font-family: verdana, sans-serif

[data-theme="light"]
    --text-color: black
    --inverted-text-color: white
    --bg-color: #ffffff
    --header-color: #f5f5f5
    --primary-color: #2e3399
    --secondary-color: #00b6b0

[data-theme="dark"]
    --text-color: white
    --inverted-text-color: black
    --bg-color: #1a1a2b
    --header-color: #11111d
    --primary-color: #00b6b0
    --secondary-color: #2e3399
