<app-header class="sticky"></app-header>

<div class="container" *ngIf="isServerOnline">
  <app-chapter-selection
    [chapters]="getChapters()"
    (chapterSelected)="selectChapter($event)"
    (chapterEditSelected)="selectEditChapter($event)"
  >
  </app-chapter-selection>
</div>

<div class="serverStatus">
  <p (click)="goToServerSettings()">{{ getInstancename() }}</p>
  <div
    class="statusIcon"
    [style.background]="isServerOnline ? 'green' : 'red'"
    (click)="goToServerSettings()"
  ></div>
</div>

<div class="version">
  <p (click)="goToWhatsNew()">
    <i>{{ getLatestVersion() == "unknown" ? "" : "v" + getLatestVersion() }}</i>
  </p>
</div>
