<div class="settings">
  <button class="first" (click)="toggleDarkMode()">
    {{ getDarkModeEnabled() ? "Lightmode" : "Darkmode" }}
  </button>
  <div class="dividedButton">
    <button
      class="smallButton"
      (click)="decreaseFontSize()"
      style="margin-left: 10px"
    >
      -
    </button>
    <p class="text">{{ "Font Size " + getFontSize() }}</p>
    <button
      class="smallButton"
      (click)="increaseFontSize()"
      style="margin-right: 10px"
    >
      +
    </button>
  </div>
  <button
    class="last"
    (click)="toggleLogIn()"
    (document:keydown.control.alt.l)="toggleLogIn()"
    *ngIf="getuserLevel() == 0"
  >
    Log in
  </button>
  <button class="last" (click)="logOut()" *ngIf="getuserLevel() > 0">
    Log out
  </button>
</div>
