<div class="settings">
  <button class="first">Toggle Mode</button>
  <div class="dividedButton">
    <button
      class="smallButton"
      (click)="decreaseFontSize()"
      style="margin-left: 10px"
    >
      -
    </button>
    <p class="text">{{ "Font Size " + getFontSize() }}</p>
    <button
      class="smallButton"
      (click)="increaseFontSize()"
      style="margin-right: 10px"
    >
      +
    </button>
  </div>
  <button class="last" (click)="toggleLogIn()" *ngIf="getUserLevel() == 0">
    Log in
  </button>
  <button class="last" (click)="logOut()" *ngIf="getUserLevel() > 0">
    Log out
  </button>
</div>

<app-log-in *ngIf="logIn" (closeEmitter)="toggleLogIn()"></app-log-in>
